html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  object-fit: cover;  
  z-index: -1;
}
.center-box {
  position: fixed;  
  top: 55%;
  left: 50%;
  transform: translate(-50%, -90%);
  padding: 30px 50px;
  border-radius: 60px;
  background: rgba(0, 0, 0, 0.3);   
  backdrop-filter: blur(10px);    
  animation: flyIn 1s ease-out forwards;
  text-align: center;
  color: white;
  z-index: 1;
}
.quote {
  position: fixed;  
  top: -40%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 80px;
  white-space: nowrap;
  font-family: Arial;
}
.profile h3 {
  font-size: 100px; 
  margin: 5px 0 0 0;
}
.profile img {
  width: 200px;     
  height: 200px;
  border-radius: 50%;  
  object-fit: cover;   
}
.profile {
  border-collapse: separate; 
  border-spacing: 30px 10px; 
  z-index: 1;
}
.profile td {
  padding: 0 20px;
  font-size: 50px;
}
@font-face {
    font-family: 'MyFont';
    src: url('hm/Starborn.ttf') format('truetype');
}
#enter {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: center; 
  align-items: center;   
  color: #880808;
  font-size: 220px;
  font-family:  'MyFont2';
  background: rgb(10, 7, 7);  
  cursor: pointer;
  z-index: 2;
}
@font-face {
   font-family: 'MyFont2';
   src: url('hm/Frightmare-Demo.otf')
}
@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateX(-70%) translateY(10px) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-90%) rotate(0deg);
  }
}
.icon {
  position: fixed;  
  top: 130%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}
.left, .right {
  display: flex;
  gap: 12px;
}
